* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom, rgb(122, 255, 173), #1435ad);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(204, 204, 204);
    background-repeat: no-repeat;
}

.host {
    width: 100%;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.input {
    border: 1px solid #ccc;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.input:focus {

    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.icon {
    display: flex;
    width: 150px;
    height: 150px
}

.title {
    text-shadow: 3px 3px 10px #000;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    display: flex;
    color: white;
    font-size: 30px;
    font: bold;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0px;
    text-align: center;
    background: white;
    margin: 0px;
    border-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0px;
    padding: 0px;
	background-color: gray;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
}
.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.541);
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-title-option {
    width: 18px;
    height: 18px;
    margin: 2px;
    border-radius: 30px;
}

