<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guet.flexbox.playground">

    <uses-sdk tools:overrideLibrary="io.iftech.android.library"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PlaygroundApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:screenOrientation="portrait"
            android:name=".StartupActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppStartup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".FastStartupActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/ic_qrcode"
            android:label="快速扫码"
            android:theme="@style/AppStartup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".SearchActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".OverviewActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".test.TestActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>